body.single-peopletwo .entry-thumbnail {
    display: none; }
  
  /* Page Layout======================== */
  #bio-image {
    float: left;
    display: block;
    width: 99%;
    /* hack to make firefox behave correctly */ }
  
  #bio-image img {
    display: block;
    clear: both;
    max-width: 100%;
    margin: 0; }
  
  p.link-web a, p.link-cv a, p.link-mail a {
    background: url(images/html.png) no-repeat;
    padding-left: 20px; }
  
  p.link-cv a {
    background: url(images/pdf.png) no-repeat; }
  
  p.link-mail a {
    background: url(images/email.png) no-repeat; }
  
  /* Gallery Layout======================== */
  .people {
    width: 100%;
    float: left;
    clear: both; }
  
  .person {
    width: 45%;
    overflow: hidden;
    margin: 10px 2.5% 0 0;
    float: left;
    display: block; }
    @media (min-width: 750px) {
      .person {
        width: 22%; } }
    .person a {
      color: #58595b; }
    .person img {
      max-width: 100%;
      max-height: 150px;
      -webkit-transition: all 0.2s linear 0s;
      -moz-transition: all 0.2s linear 0s;
      transition: all 0.2s linear 0s;
      clear: both;
      margin: 0;
      margin-bottom: 0.5em; }
  
  .gal_name {
    font-weight: bold;
    width: 100%;
    float: left;
    line-height: 1;
    font-size: 12px; }
  
  .gal_title {
    width: 100%;
    float: left;
    font-size: 12px;
    line-height: 1; }
  
  .svg-icon-tw, .svg-icon-li, .svg-icon-fb {
    width: 15px;
    height: 15px;
    display: inline-block; }
  
  .person_content {
    width: 60%;
    float: left;
    margin-right: 10%; }
    .person_content h3 {
      margin-top: 0;
      margin-bottom: 36px; }
  
  .person_sidebar {
    width: 30%;
    float: left; }