#ico-facebook, #ico-twitter, #ico-youtube, #ico-apple, #ico-flickr, #ico-gplus, #ico-instagram, #ico-linkedin, #ico-pinterest, #ico-vimeo {
	float: left;
	width: 20px;
	height: 20px;
	margin: 0 10px 5px 0;
	padding: 0;
	list-style: none;
}
#ico-facebook a, #ico-twitter a, #ico-youtube a, #ico-apple a, #ico-flickr a, #ico-gplus a, #ico-instagram a, #ico-linkedin a, #ico-pinterest a, #ico-vimeo a {
	display: block;
	float: left;
	height: 20px;
	width: 20px;
	background-image: url("../img/responsiveSprite01.png");
 	text-indent: -119988px;
	overflow: hidden;
	text-align: left;
}
#ico-facebook a {
	background-position: 0 -120px;
}
#ico-twitter a {
	background-position: 0 -80px;
}
#ico-youtube a {
	background-position: 0 -20px;
}
#ico-apple a {
	background-position: 0 -140px;
}
#ico-flickr a {
	background-position: 0 -100px;
}
#ico-gplus a {
	background-position: 0 -40px;
}
#ico-instagram a {
	background-position: 0 0;
}
#ico-linkedin a {
	background-position: 0 -180px;
}
#ico-pinterest a {
	background-position: 0 -160px;
}
#ico-vimeo a {
	background-position: 0 -200px;
}